p::first-letter {
  font-size: 2rem;
  color: blue;
}

p {
  color: rgb(82, 239, 132);
}

p {
  color: green;
}

.para {
  color: black;
}

#special {
  color: black;
}

.parent {
  font-size: 2rem;
  color: yellowgreen;
  background-color: rgb(107, 107, 107);
}

.child2 {
  /* the value is already inherited */
  color: unset;
}

button {
  background-color: inherit;
  /* all: unset; */
  /* background-color: revert; */
}

button:hover {
  color: white;
}

/* combinator doesn't add to specificity */

/* div ~ p {
  color: blue;
} */

div p {
  color: black;
}

div > p {
  color: red;
}
