p :where(a, em, .part) {
  color: green;
}

/* p: , .parent {
  color: red;
} */

:where(p, .parent) {
  color: red;
}

a:hover {
  color: blue;
}

/* :where has 0 specificity */

/* pseudo class */
a:where(:hover, :focus) {
  color: black;
}

p {
  color: blue;
}
