.box {
  --box: 300px;
  width: var(--box);
  height: var(--box);
}

.linear {
  background-image: linear-gradient(red, yellow);
}

/* conic gradient  */
.color-wheel {
  /* background-color: red; */

  border-radius: 50%;
  /* background-image: conic-gradient(#f69d3c, #3f87a6, #f69d3c); */
  background-image: conic-gradient(
    #f00,
    #ff7f00,
    #ff0,
    #7fff00,
    #0f0,
    #00ff7f,
    #0ff,
    #007fff,
    #00f,
    #7f00ff,
    #f0f,
    #ff007f
  );
}
