.linear-basic {
  /* multple gradient on a single background */

  /* background-image: linear-gradient(to top left, red, transparent 90%),
    linear-gradient(to left, blue, transparent),
    linear-gradient(to bottom right, cyan, transparent),
    linear-gradient(to top right, black, transparent); */

  background: linear-gradient(to right, red, 1rem, yellow);

  /* =================== */
  /* color angles */
  /* =================== */
  /* 360 or 0 deg = bottom to top */
  /*  180 deg = top to bottom */
  /* background-image: linear-gradient(180deg, red, yellow); */

  /* =================== */
  /* starting position and color stops */
  /* =================== */
  /* background-image: linear-gradient(red, yellow 50px); */
  /* turning green is at 40% of the height */
  /* background-image: linear-gradient(0deg, blue, 10px, green 40%, red); */

  /* =================== */
  /* turns */
  /* =================== */
  /* background: linear-gradient(0.5turn, red, yellow); */
  /* background-image: linear-gradient(0.5turn, red, 10%, blue); */
  /* background-image: linear-gradient(0turn, red, blue); */
  /* background-image: linear-gradient(0.125turn, red 50%, blue 50%); */

  /* =================== */
  /* Multi-position color stop */
  /* =================== */
  /* background: linear-gradient(45deg, red 0 50%, blue 50% 100%); */
  /* background-image: linear-gradient(red 40%, yellow 30%, blue 65%); */

  /* background-image: linear-gradient(
    red 0%,
    orange 10%,
    orange 30%,
    yellow 50%,
    yellow 70%,
    green 90%,
    green 100%
  ); */

  /* background-image: linear-gradient(
    red,
    orange 10% 30%,
    yellow 50% 70%,
    green 90%
  ); */

  /* background-image: linear-gradient(
     red 0%, 
      orange 10% 30%,
    yellow 50% 70%,
    green 90% 100%
  );
  */
}

.linear-basic1 {
  /* color stops can be negative */
  background-image: linear-gradient(
    to left top,
    red -20%,
    yellow 80%,
    green 150%
  );

  /* out of order color stop  */

  /* background-image: linear-gradient(
    80deg,
    red 30%,
    green 20%,
    yellow 60%,
    blue 40%
  ); */
}

/* ====================== */
/*  color interpolation with color space  */
/* ====================== */

/* 
.linear1 {
  background-image: linear-gradient(in srgb, red, blue);

  background-image: linear-gradient(red, blue);
}

.linear2 {
  background-image: linear-gradient(in oklab, red, blue);
}

.linear3 {
  background-image: linear-gradient(in hsl, red, blue);
} */

/* ====================== */
/*  hue interpolation  */
/* ====================== */

.linear1 {
  /* background-image: linear-gradient(90deg in srgb, red, blue); */

  background: linear-gradient(in hsl longer hue, red, blue);

  background: linear-gradient(to right in hsl shorter hue, red, blue);

  /* background-image: linear-gradient(red, blue); */
}

.linear2 {
  background-image: linear-gradient(to right in hsl longer hue, red, blue);
}

/* ====================== */
/*  repeating linear gradient  */
/* ====================== */

.linear3 {
  /* border: 5px solid black; */

  /* brick wall */
  background: repeating-linear-gradient(
    180deg,
    #e66465,
    #e66465 20px,
    #000000 20px,
    #ffffff 25px
  );

  background-image: repeating-linear-gradient(
    to top right,
    red 10px 20px,
    white 60px
  );
}

.linear4 {
  /* background: repeating-linear-gradient(); */

  background: repeating-linear-gradient(
    45deg,
    #3f87a6,
    #ebf8e1 15%,
    #f69d3c 20%
  );

  /* background: linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */
}

/* multiple gradient  */
.linear5 {
  background: repeating-linear-gradient(
      to top right,
      transparent 0px 12%,
      #000000 25%
    ),
    repeating-linear-gradient(0.25turn, transparent 0px 15%, #ffffff 25%),
    linear-gradient(to top left, red, transparent 90%),
    linear-gradient(to left, blue, transparent),
    linear-gradient(to bottom right, cyan, transparent),
    linear-gradient(to top right, black, transparent);
}

.linear6 {
  background: repeating-linear-gradient(
      to bottom right,
      transparent 0px 20%,
      #000000 25%
    ),
    repeating-linear-gradient(0.25turn, transparent 0px 20%, #ffffff 25%),
    linear-gradient(to top left, rgb(218, 44, 44), transparent 90%),
    linear-gradient(to left, blue, transparent),
    linear-gradient(to bottom right, cyan, transparent),
    linear-gradient(to top right, rgb(168, 24, 220), transparent);
}

/* practise  */

.linear7 {
  /* border: transparent transparent transparent ; */
  /* border: 5px solid black; */
  border-radius: 10px;
  background: linear-gradient(
      to bottom right,
      rgb(0, 0, 0) 0px 24%,
      black 24% 25%,
      transparent 25%
    ),
    linear-gradient(
      230deg,
      rgb(0, 0, 0) 0px 24%,
      black 24% 25%,
      transparent 25%
    ),
    repeating-linear-gradient(
      to bottom right,
      transparent 0px 10px,
      rgb(255, 149, 0, 50%) 10px 20px
    ),
    repeating-linear-gradient(
      45deg,
      transparent 0px 10px,
      rgb(255, 145, 0, 50%) 10px 20px
    ),
    linear-gradient(black, black);
  /* clip-path: polygon(0% 100%, 50% 0%, 100% 100%); */
  /* background-size: 100px; */
  /* background-position: 100px; */
}
