.foo {
  width: 50%;

  /* nested media query */
  @media (min-width: 1024px) {
    width: 90%;
  }

  /* .foo:hover */
  &:hover {
    color: yellow;
    border: 1px solid black;
  }

  /* .foo *:hover */
  & :hover {
    color: hotpink;
  }

  /* compound selector  */

  &.parent {
    background-color: black;
  }

  div& {
    padding: 1rem;
  }

  /* when compounding - 
   type selector must come first
   otherwise invalid 
   */

  /* &p {
    background-color: black;
  } */

  /* below are combinator */

  /* section .foo  */
  section & {
    color: greenyellow;
  }

  /* .foo p - descendent */
  p {
    color: red;
  }

  /* .foo > h1 */
  > h1 {
    color: greenyellow;
  }

  /* .foo + p */
  & + p {
    color: blue;
  }

  /* concatenation is not possible 
    for this use preprocessors 
  */
  /* &__element {} */
}

/* outside nesting & refers to the body */
& {
  background-color: rgb(151, 151, 151);
}
