body {
  color: red;
}

div {
  /* border color get inherited */
  border-width: 5px;
  border-style: solid;
  background-color: currentColor;
  /* border: 5px solid currentColor; */
  /* color: yellowgreen; */
}

div p {
  color: blue;
}
